# flyctl launch added from .gitignore
# Entorno virtual
**\.venv
**\venv

# Archivos de cache y compilados de Python
**\__pycache__
**\*.pyc
**\*.pyo
**\*.pyd

# Archivo de variables de entorno (¡MUY IMPORTANTE!)
**\.env

# Archivos del sistema operativo (opcional, pero útil)
**\.DS_Store
**\Thumbs.db

# Archivos de configuración de IDEs (opcional)
**\.vscode
**\.idea

# flyctl launch added from .venv\.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
.venv\**\*
fly.toml
